:root {
  --purple: #810082;
  --orange: #fda800;
  --green: #006500;
  --white: #ffffff;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", Arial, sans-serif;
  color: var(--white);
}

nav {
  background: var(--black);
  color: var(--white);
  padding: 10px;
  width: 100%;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  color: var(--white);
  text-decoration: none;
  padding: 10px;
}

.main {
  padding: 1em;
}

p {
  padding: 1em 0;
}

@media (max-width: 414px) {
  body {
    background: var(--purple);
  }

  nav > ul > li {
    display: block;
    width: 100%;
    padding: 15px 0;
  }
}

@media (min-width: 415px) and (max-width: 1024px) {
  body {
    background: var(--orange);
    color: var(--black);
  }
}

@media (min-width: 1025px) {
  body {
    background: var(--green);
  }
